<?php

$statsd_host = '127.0.0.1';
$statsd_port = 8125;
$statsd_namespace = '';
$nr_account_id = ''; // set your New Relic account ID here

$queries = array(
	array (
		'query_api_key'     => "i6101P8qVoic9BdHFu4bX8mZADguuaTA", // New Relic query API key
		'encodedQuery'      => "SELECT%20uniqueCount%28session%29%20FROM%20PageView%20since%204%20minute%20ago", // encoded query string
		'keyToFetch'        => 'uniqueCount', // which key from the results we want to fetch
		'indexInResult'     => 0, // API can return multiple results - which one to fetch. defaults to 0 
		'statsdKey'         => 'web.concurrent_users', // which statsd key to store result into
		'statsdMetricType'  => 'gauge', // statsd metric type - gauge, increment, decrement or set
	),
	// and next query comes here...
);
